/* Feel free to use @import. r.js will merge them, when building */

/*@import url("../templates/login.css");*/
/*@import url("../templates/scanList.css");*/

/*.brand {*/
    /*padding: 10px;*/
    /*height: 74px;*/
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 0px;*/
    /*background: #222;*/
    /*border-radius: 5px;*/
/*}*/

#upper_left {
	position: absolute;
	top: 0;
	left: 0;
}
#upper_right {
	position: absolute;
	top: 0;
	right: 0%;
}
#lower_left {
	position: absolute;
	bottom: 0%;
	left: 0;
}
#lower_right {
	bottom: 0%;
	right: 0%;
	position: absolute;
}
