
div {
	/*color:#fff;*/
	color:#00bcd4;
	text-align:right;
	font-size:75px;
}


.small {
	font-size:25px;
	letter-spacing:0px;
}
.icon 
{
	position: relative;
	top :-10px;
	display: inline-block;
	font-size: 45px;
	padding-right: 5px;
	font-weight: 100;
	margin-right: 10px;
}

.icon-small
{
	position: relative;
	display: inline-block;
	font-size: 35px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 100;
}

.font-small {
	font-size:12px;
}

#container {
	padding:20px;
}

.xdimmed{
	opacity: 0.7;
}

.windsun table td{
	text-align:center;
}
.windsun table,.forecast table {
	width:100%;
}

.forecast table td {
	text-align:left;
}
.forecast table td.t-right {
	text-align:right;
}
.forecast table td.icon-small {
	text-align:center;
}
.forecast table td.min-max {
	font-size:20px;
}
